@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(./images/people.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}


.top{
    background: rgba(57, 182, 231, 0.836);
    color: white;
    padding: 8px;
    text-align: center;
    font-weight: 600;
    width:100%;
}



.container{
    font-family: 'Roboto', sans-serif;
    min-height: 610px;
}



.containerSec{
    background-color: rgba(253, 249, 249, 0.719);
    width: 25vw;
    padding: 20px;
    position: relative;
    left: 72%;
    top: 40px;

}


.containerSec > h2 {
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 20px;
}

.containerSec > p{
    text-align: left;
    font-size: 18px;
    padding-bottom: 20px;
    font-weight: 400;
}

/*nome e email*/
input{
    height: 40px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    padding-top: ;
}

/*Estados*/
select{
    background-image: url(./images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: 99%;
    height: 33px;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

/*botão "INSCREVA-SE" */
#button{
    background: rgba(57, 182, 231, 0.836);
    border: none;
    color: white;
}

/* ponteiro muda no botão */
#button:hover{
    cursor: pointer;
}

/*footer*/
.footerCont{
    background-color: rgb(50, 49, 49);
    width: 100vw;
    height: 50vh;
    display: flex; /* Itens lado a lado*/
    justify-content: center;    /*eixo x*/
    align-items: center;        /*eixo y */
}

/* container do footer */
.containerFoot{
    color: white;
    width: 45vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/* descrição do palestrante */
.description{
    text-align: left;
    width: 30vw;
    margin-left: 20px;
}

.description > h2{
    font-size: 28   px;
}

.description > p{
    font-size: 16px;
}

/* foto do palestrante */
.face{
    height: 230px;
}